.index{
    background-color: map-get($map: $colores, $key: color-fondo);
    .nuit{
        width: 100%;
        max-height: 640px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .barra{
        width: 100%;
        padding: 5px;
        background-color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            @extend %font;
        }
    }
    .subasta-index{
        background-color: map-get($map: $colores, $key: color-subasta);
        width: 100%;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .datos-subasta{
            width: 100%;
            p{
                @extend %font;
                padding: 5px;
                span{
                    font-weight: bold;
                }
            }
            hr{
                width: 100%;
            }
            button{
                display: inline-block;
                outline: 0;
                appearance: none;
                padding: 0px 12px;
                border-radius: 4px;
                text-decoration: none;
                cursor: pointer;
                background-color: rgb(249, 251, 250);
                border: 1px solid rgb(137, 151, 155);
                box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
                color: rgb(61, 79, 88);
                font-size: 14px;
                font-weight: 400;
                height: 30px;
                transition: all 150ms ease-in-out 0s;
                a{
                    text-decoration: none;
                    color: black;
                }
                &:hover {
                    color: rgb(61, 79, 88);
                    background-color: rgb(255, 255, 255);
                    border: 1px solid rgb(93, 108, 116);
                    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
                }
        }
        }
    }
    .fotos{
        .foto-principal{
            img{
                width: 100%;
            }
        }
        .horarios{
            @extend %font;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
            border: 2px solid black;
            border-radius: 3px;
            background-color: white;
            ul{
                .titulo-horario{
                    list-style: none;
                    padding-bottom: 10px;
                    font-weight: bold;
                }
            }
        }
        .lista-fotos{
            display: flex;
            width: 100%;
            .c-foto-2{
                display: flex;
                width: 50%;
                height: 200px;
                background-image: url(../img/foto-2.webp);
                background-position: center;
                background-size: cover;
            }
            .c-foto-3{
                display: flex;
                width: 50%;
                height: 200px;
                background-image: url(../img/foto-3.webp);
                background-position: center;
                background-size: cover;
            }
        }
    }
}



